body{
    font-family: 'Pixelify Sans', sans-serif;
}

h1{
    text-align: center;
}

#container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.center{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

#button{
    text-align: center;
    padding: 50px;
}

#shoot{
    width: 300px;
    background-color: #b3c799;
    font-family: 'Pixelify Sans', sans-serif;
}

h2{
    text-align: center;
}